// Colors
// Primary

$bgColor: hsl(233, 47%, 7%);
$leftColBg: hsl(244, 38%, 16%);
$accent: hsl(277, 64%, 61%);

// Neutral

$white: hsl(0, 0%, 100%);
$mainP: hsla(0, 0%, 100%, 0.75);
$statsH: hsla(0, 0%, 100%, 0.6);

// Font sizes
$headingText: 3.6rem;
$normalText: 1.5rem;
